<div style="background-image:url('{$layout_info->path}img/slider_img.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>FOR ECONOMIC FREEDOM  <br /> WITH THE RICH</h1>
			<p>진정한 경제적 자유를 원한다면, <br />지금 더 리치와 함께 하세요</p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slider_img2.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>MONEY PIPE LINE<br />&amp; PORTFOLIO</h1>
			<p>더 리치는 허황된 꿈을 꾸는 곳이 아닙니다.  <BR /> 자신에게 딱 맞는 투자포트폴리오와 머니파이프 구축으로<BR />  더 행복한 가정과 미래를 실현해보세요 </p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slider_img3.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>CHALLENGE <br />&amp; CHANGE THE YOUR LIFE</h1>
			<p>도전해 보세요!<br /> 당신의 인생에 새로운 길이 여기에 있습니다. <BR />이제 보물 지도는 찾았으니 지도를 펴고 <br />길을 개척하는 여정을 떠나보세요. <BR />오늘의 선택이 미래를 결정한다는 것, <BR />그것이 진리입니다</p>
		</div>
	</div>
</div>
<div style="background-image:url('{$layout_info->path}img/slider_img4.jpg');" class="swiper-slide">
	<div>
		<div>
			<h1>YOU ARE NOT ALONE<br />&amp; TOGETHER</h1>
			<p>혼자서는 정말 가기 힘든 부동산 경매라는 여정 <BR /> 더 리치에서 당신과 함께 할 멘토와 동기를 만나세요</p>
		</div>
	</div>
</div>
