@charset "utf-8";
@import url(../../../../../modules/admin/tpl/css/admin.css);
@import url(../../../../../common/css/bootstrap.min.css);

.link_color { float:left; margin-right:2em; }
.editor_style1{font-size:14px;border-radius:6px;text-align:center;font-weight:600;color:#fff;padding:6px 15px;background:#14b0d7;text-decoration:none;}

.editor_style2{font-size:14px;border-radius:6px;text-align:center;font-weight:600;color:#333;padding:6px 15px;background:#f2f2f2;text-decoration:none;  
border: 1px solid; border-color: #CCC #C6C6C6 #C3C3C3 #CCC;-webkit-box-shadow: 0 0 1px 1px #E3E3E3;box-shadow: 0 0 1px 1px #E3E3E3;}

.editor_style3{font-size:14px;text-align:center;font-weight:600;background-color:#44c767;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;color:#ffffff;padding:6px 15px;text-decoration:none;box-shadow: 0 2px 0 0 #ccc;}